@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center my-5">
    <h1 class="display-4">Information</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Edit</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Edit</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Hills</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
